.styled-button:hover {
    background-color: #34438d !important;
}

.styled-button:active {
    background-color: #212e6e !important;
}

.styled-button {
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

.styled-icons:hover {
    color: whitesmoke;
}

.styled-icons {
    color: black;
    transition: all ease-in-out 0.25s;
}

.new-widget-button {
    color: grey!important;
    border-color: grey!important;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

.new-widget-button:hover {
    color: whitesmoke!important;
    border-color: whitesmoke!important;
    background-color: grey!important;
}
